@import "../../vars.css";

.products {
  margin: 3rem;
}

.products-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products-show {
  margin-top: 3rem;
  margin-left: 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.products-show-pages {
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.products-show-pages-page {
  border: 1px solid var(--grey);
  text-align: center;
  padding: 1rem;
}

.products-show-pages-current {
  border: 1px solid var(--grey);
  background-color: var(--yellow);
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 1256px) {
  .products-show {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .products {
    margin: 2rem;
  }
  .products-show {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 512px) {
  .products {
    margin: 2rem;
  }
  .products-show {
    grid-template-columns: repeat(1, 1fr);
  }
}
