@import "../../../vars.css";

.details-info p {
  line-height: 36px;
  text-align: left;
}

.details{
  background-color: var(--white);
  border-radius: 10px;
  padding-bottom: 2rem;
}

.hiddenDiv{
  position: absolute; 
  opacity: 0.0;
  top: 0;
}

.btn-border{
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: .5rem 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#exportDiv{
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
}
#exportDiv h3{
  margin: 1rem 0;
}
#exportDiv table {
  border: 1px solid var(--light);
  border-collapse: collapse;
}
#exportDiv table th {
  background-color: var(--light);
  line-height: 42px;
}
#exportDiv table td {
  line-height: 36px;
  padding: 0 1rem;
  text-align: right;
}