@import "../../vars.css";

.admin {
  margin: 0;
  padding: 3rem;
  height: 100%;
}

.admin-page {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 5px;
}

.highlight {
  background-color: var(--light2);
}

.blank {
  padding: 15rem;
}
