@import "../../vars.css";

.product {
  border: 1px solid var(--grey);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-img {
  width: 200px;
  margin: auto;
}
.product-name {
  font-size: 24px;
  line-height: 42px;
  font-weight: 700;
}
.product-price {
  color: var(--red);
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
}
.product-oldprice{
  color: var(--grey);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: line-through;
}
.product-oldprice-none{
  line-height: 14px;
}
.product-remain{
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
}
.product-add {
  cursor: pointer;
  float: right;
  width: 50px;
}
.product-secrete {
  text-align: right;
  color: var(--white);
}
.home-container .product-secrete {
  padding-bottom: 1rem;
}

.product-discount{
  position: absolute;
  margin-left: -1rem;
  margin-top: -1rem;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-discount p{
  color: var(--white);
  font-size: 20px;
  margin-top: 1rem;
}