.home-slider {
  flex: 1;
}

.home-slider img {
  width: 100%;
}

.home-container {
  margin: 3rem;
}

.home-container-piano {
  margin-top: 4rem;
}

.home-container-blog {
  margin-top: 4rem;
}

.test {
  margin-top: 2rem;
}
