@import "../../vars.css";

.signin-background{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.signin {
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
    align-items: center;
    width: 25rem;
    height: 20rem;

    display: flex;
    flex-direction: column;
}
.signin input{
    line-height: 32px;
    border: 1px solid var(--black);
    border-radius: 30px;
    padding: 0 1rem;
    margin-top: 1rem;
    width: 15rem;
}
.signin img{
    height: 5rem;
    margin: 2rem 0 1rem 0;
}

.btn-signin{
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    width: 10rem;
    font-weight: 700;
    cursor: pointer;
}
.btn-signin:hover{
    background-color: var(--yellow);
    color: var(--black);
}